<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1">
  <div class="space" fxFlex="2 2 auto">&nbsp;</div>
  <div class="content" fxLayout="row wrap" fxLayoutAlign="center center">
    <h1 class="mat-h1" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 80vw">#2 Meetup Mobile BR</h1>
    <h4 class="mat-h4" fxLayout="row" fxLayoutAlign="start center" fxFlex="0 0 80vw">CSS Flex Layout em Angular</h4>
  </div>
  <div class="space" fxFlex="4 4 auto">&nbsp;</div>
</div>
