<div class="container" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="1 1">
	<div fxFlex="0 0 20px"></div>
	<div class="title" fxLayout="column" fxLayoutAlign="start stretch">
		<h1 class="mat-h1" fxLayout="row" fxLayoutAlign="center">Angular Flex Layout</h1>
	</div>
	<div class="content" fxLayout="row wrap" fxLayoutAlign="start stretch" fxFlex="1 1 auto">
		<div fxLayout="column" fxLayoutAlign="start stretch" fxFlexOffset="10vw" fxLayoutGap="16px">
			<div fxLayout="column" fxLayoutAlign="start start">
				<h4 class="mat-h4" fxLayout="row" fxLayoutAlign="start">
					How to Install
				</h4>
				<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
					<code class="accent">npm i -s @angular/flex-layout @angular/cdk</code>
				</div>
			</div>
			<div fxLayout="column" fxLayoutAlign="start start">
				<h4 class="mat-h4" fxLayout="row" fxLayoutAlign="start">
					some.module.ts
				</h4>
				<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
					<img src="assets/angular-flex-import.png" alt="">
				</div>
			</div>
			<div fxLayout="column" fxLayoutAlign="start stretch"  fxLayoutGap="8px">
				<h4 class="mat-h4" fxLayout="row" fxLayoutAlign="start">
					How to Use
				</h4>
				<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
					<code>fxLayout</code> <code>fxLayoutAlign</code> <code>fxFlex</code> <code>fxFlexOrder</code> <code>fxFlexAlign</code>
				</div>
				<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
					<code>fxLayoutGap</code> <code>fxFlexOffset</code> <code>fxFlexFill</code> <code>fxShow</code> <code>fxHide</code>
				</div>
			</div>
		</div>

	</div>
	<div class="source" fxLayout="row" fxLayoutAlign="end center" fxFlex="0 0 26px">
		source: https://github.com/angular/flex-layout/wiki&nbsp;
	</div>
</div>
