$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);
$black-12-opacity: rgba(black, 0.12);
$white-12-opacity: rgba(white, 0.12);
$black-6-opacity: rgba(black, 0.06);
$white-6-opacity: rgba(white, 0.06);

$br-green: (
		50 : #e0f0e8,
		100 : #b3dac6,
		200 : #80c2a1,
		300 : #4daa7b,
		400 : #26975e,
		500 : #008542,
		600 : #007d3c,
		700 : #007233,
		800 : #00682b,
		900 : #00551d,
		A100 : #87ffa5,
		A200 : #54ff7e,
		A400 : #21ff58,
		A700 : #08ff45,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $white-87-opacity,
				500 : $white-87-opacity,
				600 : $white-87-opacity,
				700 : $white-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-yellow: (
		50 : #fff8e6,
		100 : #feefc1,
		200 : #fee497,
		300 : #fed96d,
		400 : #fdd04e,
		500 : #fdc82f,
		600 : #fdc22a,
		700 : #fcbb23,
		800 : #fcb41d,
		900 : #fca712,
		A100 : $white-87-opacity,
		A200 : #fffbf6,
		A400 : #ffe7c3,
		A700 : #ffdda9,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : #008542, //$black-87-opacity,
				600 : #007d3c, //$black-87-opacity,
				700 : #007233, //$black-87-opacity, EXPANSION PANEL
				800 : $black-87-opacity,
				900 : $black-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-lightgreen: (
		50 : #f5f6e0,
		100 : #e5e9b3,
		200 : #d4da80,
		300 : #c2cb4d,
		400 : #b5bf26,
		500 : #a8b400,
		600 : #a0ad00,
		700 : #97a400,
		800 : #8d9c00,
		900 : #7d8c00,
		A100 : #f6ffb8,
		A200 : #efff85,
		A400 : #e8ff52,
		A700 : #e4ff39,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : $black-87-opacity,
				600 : $black-87-opacity,
				700 : $black-87-opacity,
				800 : $black-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-blue: (
		50 : #e0ecf3,
		100 : #b3d0e0,
		200 : #80b1cc,
		300 : #4d91b7,
		400 : #267aa7,
		500 : #006298,
		600 : #005a90,
		700 : #005085,
		800 : #00467b,
		900 : #00346a,
		A100 : #99c3ff,
		A200 : #66a5ff,
		A400 : #3387ff,
		A700 : #1a78ff,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $white-87-opacity,
				500 : $white-87-opacity,
				600 : $white-87-opacity,
				700 : $white-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $white-87-opacity,
				A700 : $white-87-opacity,
		)
);

$br-lightblue: (
		50 : #eff3f5,
		100 : #d8e1e6,
		200 : #becdd5,
		300 : #a4b8c4,
		400 : #91a9b7,
		500 : #7d9aaa,
		600 : #7592a3,
		700 : #6a8899,
		800 : #607e90,
		900 : #4d6c7f,
		A100 : #e0f3ff,
		A200 : #ade0ff,
		A400 : #7accff,
		A700 : #61c2ff,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : $black-87-opacity,
				600 : $black-87-opacity,
				700 : $black-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-orange: (
		50 : #fbeee0,
		100 : #f6d4b3,
		200 : #f0b880,
		300 : #ea9b4d,
		400 : #e68526,
		500 : #e17000,
		600 : #dd6800,
		700 : #d95d00,
		800 : #d55300,
		900 : #cd4100,
		A100 : #fff7f5,
		A200 : #ffd1c2,
		A400 : #ffab8f,
		A700 : #ff9775,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : $white-87-opacity,
				600 : $white-87-opacity,
				700 : $white-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-gray: (
		50 : #f7f7f7,
		100 : #ebebeb,
		200 : #dedede,
		300 : #d0d1d0,
		400 : #c6c7c6,
		500 : #bcbdbc,
		600 : #b6b7b6,
		700 : #adaead,
		800 : #a5a6a5,
		900 : #979897,
		A100 : $white-87-opacity,
		A200 : $white-87-opacity,
		A400 : #d3ffd3,
		A700 : #b9ffb9,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : $black-87-opacity,
				600 : $black-87-opacity,
				700 : $black-87-opacity,
				800 : $black-87-opacity,
				900 : $black-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-darkgray: (
		50 : #f2f2f2,
		100 : #dfdfdf,
		200 : #cacaca,
		300 : #b4b4b4,
		400 : #a4a4a4,
		500 : #949494,
		600 : #8c8c8c,
		700 : #818181,
		800 : #777777,
		900 : #656565,
		A100 : #fce0e0,
		A200 : #f6b2b2,
		A400 : #ff7777,
		A700 : #ff5d5d,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : $black-87-opacity,
				600 : $black-87-opacity,
				700 : $black-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-bluegray: (
		50 : #edebea,
		100 : #d1cecb,
		200 : #b3aea9,
		300 : #958d87,
		400 : #7e746d,
		500 : #675c53,
		600 : #5f544c,
		700 : #544a42,
		800 : #4a4139,
		900 : #393029,
		A100 : #ffba86,
		A200 : #ff9d53,
		A400 : #ff8020,
		A700 : #ff7107,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $white-87-opacity,
				400 : $white-87-opacity,
				500 : $white-87-opacity,
				600 : $white-87-opacity,
				700 : $white-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

$br-brmania: (
		50 : #fce5f1,
		100 : #f8bedb,
		200 : #f493c3,
		300 : #ef67ab,
		400 : #eb4799,
		500 : #e82687,
		600 : #e5227f,
		700 : #e21c74,
		800 : #de176a,
		900 : #d80d57,
		A100 : $white-87-opacity,
		A200 : #ffd1e0,
		A400 : #ff9ebd,
		A700 : #ff85ac,
		contrast: (
				50 : $black-87-opacity,
				100 : $black-87-opacity,
				200 : $black-87-opacity,
				300 : $black-87-opacity,
				400 : $black-87-opacity,
				500 : $white-87-opacity,
				600 : $white-87-opacity,
				700 : $white-87-opacity,
				800 : $white-87-opacity,
				900 : $white-87-opacity,
				A100 : $black-87-opacity,
				A200 : $black-87-opacity,
				A400 : $black-87-opacity,
				A700 : $black-87-opacity,
		)
);

