<div class="i" fxLayout="row" fxLayoutAlign="stretch" fxFlex="1 1 auto">
	<div class="h" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 1 33%">
		<div class="a" fxLayout="row" fxFlex="1 1 auto">
			<div class="b" fxFlex="1 1 100px">&nbsp;&nbsp;</div>
		</div>
		<div class="d">
			<mat-card>
				<mat-card-header>
					<mat-card-title>flex-grow</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>This defines the ability for a flex item to <span class="accent">grow if necessary</span>. It accepts a unitless value that serves as a
						proportion. It dictates what
						amount of the available space inside the flex container the item should take up.</p>

					<p>If all items have flex-grow set to 1, <span class="accent">the remaining space</span> in the container will be distributed equally to all
						children. If one of the
						children has a value of 2, the remaining space would take up twice as much space as the others (or it will try to, at least).
						deserunt mollit anim id est laborum.</p>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<div class="c" fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px" fxFlex="2 2 66%">
		<mat-toolbar color="warn">Header</mat-toolbar>
		<div class="f">&nbsp;</div>
		<div class="g">&nbsp;</div>
		<mat-toolbar color="warn">Footer</mat-toolbar>
	</div>
</div>
