
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// import our custom theme files
@import 'theme/colors.scss';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);
$background: map-get($app-theme, background);
code {
	background: mat-color($background, card);
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.12);
	padding: 4px;

	&.accent {
		color: mat-color($accent);
	}
}

p {
	span.accent {
		color: mat-color($accent);
	}
}

div.a {
	background-color: mat-color($primary, 100);
}
div.b {
	background-color: mat-color($primary, 200);
}
div.c {
	background-color: mat-color($primary, 300);
}
div.d {
	background-color: mat-color($primary, 400);
}
div.e {
	background-color: mat-color($primary, 500);
}
div.f {
	background-color: mat-color($primary, 600);
}
div.g {
	background-color: mat-color($primary, 700);
}
div.h {
	background-color: mat-color($primary, 800);
}
div.i {
	background-color: mat-color($primary, 900);
}
